<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome to Service Station</title>
      {% endif %}
</head>
<body>
  <div>
      <h1>Service station:</h1>
    </div>
        <li><a href="{{ url_for('index') }}">Home page</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('insert_data') }}">Insert data</a></li>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
</body>
</html>